In [1]:
# Import libraries

import pandas as pd

In [126]:
df = pd.read_csv("adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
age,32561.0,38.581647,13.640433,17.0,28.0,37.0,48.0,90.0
fnlwgt,32561.0,189778.366512,105549.977697,12285.0,117827.0,178356.0,237051.0,1484705.0
education-num,32561.0,10.080679,2.572720,1.0,9.0,10.0,12.0,16.0
capital-gain,32561.0,1077.648844,7385.292085,0.0,0.0,0.0,0.0,99999.0
capital-loss,32561.0,87.303830,402.960219,0.0,0.0,0.0,0.0,4356.0
hours-per-week,32561.0,40.437456,12.347429,1.0,40.0,40.0,45.0,99.0

# Question 1

How many people of each race are represented in this dataset? 
This should be a Pandas series with race names as the index labels. 
(`race` column)

In [74]:
race = df['race'].value_counts().tolist()
race

[27816, 3124, 1039, 311, 271]

# Qustion 2
What is the average age of men?

In [258]:
men_data = df[df['sex'] == 'Male']
round(men_data['age'].mean(), 1)

39.4

# Question 3
What is the percentage of people who have a Bachelor's degree?

In [78]:
edu_percent = pd.DataFrame(df['education'].sort_values().value_counts())
edu_percent['percentage'] = edu_percent['education']/edu_percent['education'].sum()
bach = round(edu_percent['percentage'].loc['Bachelors'] * 100, 1)
bach

16.4

# Question 4

What percentage of people with advanced education 
(`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [259]:
def transform(dataframe):
    '''
    A function to transform the df to usable information
    '''

    edu_sal = pd.DataFrame(df[['education', 'salary']].value_counts()).rename(columns={0:'counts'}).reset_index()
    edu_sal['percentage'] = edu_sal['counts']/edu_sal['counts'].sum()
    return edu_sal

In [267]:
df2.head(2)

      education salary  counts  percentage
0       HS-grad  <=50K    8826    0.271060
1  Some-college  <=50K    5904    0.181321

In [260]:
def higher_education(dataframe):
    '''
    A function to calculate the percentage of higher_education
    above 50k
    '''
    higher_education_rich = []
    higher_education_list = ['Bachelors', 'Masters', 'Doctorate']

    for education in higher_education_list:
        '''
        I am using itertuples to loop through the rows
        '''
        for row in df2.itertuples():
            if row[1] == education and row[2] == '>50K':
                higher_education_rich.append(row[4])
    return round(sum(higher_education_rich), 1) * 100

In [261]:
def lower_education(dataframe):
    '''
    A function to calculate the percentage of higher_education
    above 50k
    '''
    lower_education_rich = []
    higher_education_list = ['Bachelors', 'Masters', 'Doctorate']

    for education in higher_education_list:
        '''
        I am using itertuples to loop through the rows
        '''
        for row in df2.itertuples():
            if row[1] != education and row[2] == '>50K':
                lower_education_rich.append(row[4])
    return round(sum(lower_education_rich), 1) * 100

In [265]:
test1 = higher_education(df2)
test1

10.0

In [264]:
test2 = lower_education(df2)
test2

60.0

# Question 5

What is the minimum number of hours a person works per week (hours-per-week feature)?

In [87]:
min_hr = pd.DataFrame(df[df['hours-per-week']== 1]['salary'].value_counts()) 
min_hr

       salary
<=50K      18
>50K        2

In [97]:
def percentage (data):
    '''
    A function to calculate percentage.

    '''
    col = data.columns
    data['percentage'] = data[col[0]]/data[col[0]].sum() * 100
    return pd.DataFrame(data['percentage'])

In [100]:
test = percentage(min_hr)
result = test.loc['>50K':]
result

      percentage
>50K        10.0

# Question 6

What country has the highest percentage of people that earn >50K and what is that percentage?

In [242]:
def create_data(data):
    '''
    A function to create new df's
    '''
    countries = pd.DataFrame(data['native-country'].value_counts()).reset_index().rename({'index':'native-country', 'native-country': 'value'}, axis=1).sort_values('native-country')
    countries_salary = pd.DataFrame(data[['native-country', 'salary']].value_counts()).rename(columns={0:'counts'}).reset_index().sort_values('native-country')
    countries_salary = countries_salary[countries_salary['salary'] == '>50K']

    return countries, countries_salary

In [253]:
def highest_percentage(data):
    '''
    This function returns the country
    with the highest_percentage over fifty thousand dollars
    '''
    data_merge = create_data(data)
    new_df = data_merge[0].merge(data_merge[1])
    new_df['percentage'] = new_df['counts'] * 100 / new_df['value']
    highest_score = max(new_df['percentage'])
    return round(highest_score, 1), new_df

In [254]:
def richest_country(data):
    '''
    This function returns the name of the country 
    with the highest percentage of rich workers
    '''
    result = highest_percentage(data)
    richest_country = ''
    country_list = result[1]['native-country'].unique()
    for country in country_list:
        '''
        I am using itertuples to loop through the rows
        '''
        for row in result[1].itertuples():
            if row[1] == country and row[5] == highest_score:
                richest_country = country
                break
    return richest_country

In [255]:
richest = richest_country(df)
richest

'Iran'

# Question 7

Identify the most popular occupation for those who earn >50K in India.

In [163]:
que_7 = df[df['native-country'] == 'India']
que_7 = que_7[que_7['salary'] == '>50K']
que_7 = pd.DataFrame(que_7[['occupation', 'salary']])
que_7 = pd.DataFrame(que_7.value_counts()).rename({0:'counts'}, axis=1).reset_index()
answer = que_7[que_7['counts'] == 25]
answer = answer['occupation'].tolist()
answer[0]

'Prof-specialty'

In [ ]:
que_7 = max(que_7[0])
que_7