In [1]:
# Import libraries

import pandas as pd

In [33]:
df = pd.read_csv("adult.data.csv")
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
age,32561.0,38.581647,13.640433,17.0,28.0,37.0,48.0,90.0
fnlwgt,32561.0,189778.366512,105549.977697,12285.0,117827.0,178356.0,237051.0,1484705.0
education-num,32561.0,10.080679,2.572720,1.0,9.0,10.0,12.0,16.0
capital-gain,32561.0,1077.648844,7385.292085,0.0,0.0,0.0,0.0,99999.0
capital-loss,32561.0,87.303830,402.960219,0.0,0.0,0.0,0.0,4356.0
hours-per-week,32561.0,40.437456,12.347429,1.0,40.0,40.0,45.0,99.0

# Question 1

How many people of each race are represented in this dataset? 
This should be a Pandas series with race names as the index labels. 
(`race` column)

In [74]:
race = df['race'].value_counts()
race

[27816, 3124, 1039, 311, 271]

# Qustion 2
What is the average age of men?

In [258]:
men_data = df[df['sex'] == 'Male']
round(men_data['age'].mean(), 1)

39.4

# Question 3
What is the percentage of people who have a Bachelor's degree?

In [78]:
edu_percent = pd.DataFrame(df['education'].sort_values().value_counts())
edu_percent['percentage'] = edu_percent['education']/edu_percent['education'].sum()
bach = round(edu_percent['percentage'].loc['Bachelors'] * 100, 1)
bach

16.4

# Question 4

What percentage of people with advanced education 
(`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [92]:
lower_degress = df[['education', 'salary']]
degree_index = lower_degress[(lower_degress['education'] == 'Bachelors') | (lower_degress['education'] == 'Masters') | (lower_degress['education'] == 'Doctorate')].index
lower_degress.drop(degree_index, inplace= True)
lower_degress = pd.DataFrame(lower_degress.value_counts()).rename({0:'counts'},axis=1).reset_index()
lower_degress['percentage'] = lower_degress['counts'] / lower_degress['counts'].sum() * 100
lower_degress

       education salary  counts  percentage
0        HS-grad  <=50K    8826   35.205425
1   Some-college  <=50K    5904   23.550060
2        HS-grad   >50K    1675    6.681292
3   Some-college   >50K    1387    5.532509
4           11th  <=50K    1115    4.447547
5      Assoc-voc  <=50K    1021    4.072597
6           10th  <=50K     871    3.474272
7     Assoc-acdm  <=50K     802    3.199043
8        7th-8th  <=50K     606    2.417232
9            9th  <=50K     487    1.942561
10   Prof-school   >50K     423    1.687276
11          12th  <=50K     400    1.595533
12     Assoc-voc   >50K     361    1.439968
13       5th-6th  <=50K     317    1.264460
14    Assoc-acdm   >50K     265    1.057040
15       1st-4th  <=50K     162    0.646191
16   Prof-school  <=50K     153    0.610291
17          10th   >50K      62    0.247308
18          11th   >50K      60    0.239330
19     Preschool  <=50K      51    0.203430
20       7th-8th   >50K      40    0.159553
21          12th   >50K      33    0.131631
22           9th   >50K      27    0.107698
23       5th-6th   >50K      16    0.063821
24       1st-4th   >50K       6    0.023933

In [94]:
test = rich_percentage(lower_degress)
test

17.4

In [40]:
# first_degree = df[df['education'] == 'Bachelors']
advanced_degrees =  df[['education', 'salary']]
advanced_degrees = pd.DataFrame(advanced_degrees[(advanced_degrees['education'] == 'Bachelors') | (advanced_degrees['education'] == 'Masters') | (advanced_degrees['education'] == 'Doctorate')].value_counts())
advanced_degrees = advanced_degrees.rename({0:'counts'}, axis=1).reset_index()
advanced_degrees['percentage'] = advanced_degrees['counts'] / advanced_degrees['counts'].sum() * 100
advanced_degrees

   education salary  counts  percentage
0  Bachelors  <=50K    3134   41.836871
1  Bachelors   >50K    2221   29.648912
2    Masters   >50K     959   12.802029
3    Masters  <=50K     764   10.198905
4  Doctorate   >50K     306    4.084902
5  Doctorate  <=50K     107    1.428381

In [93]:
def rich_percentage (data):
    '''
    A simple function to calcluate the percentage
    of workers with higher education qualifications
    '''
    answer = 0
    for row in data.itertuples():
        if row[2] == '>50K':
            answer += row[4]
    return round(answer, 1)

In [66]:
test = higher_education_rich(advanced_degrees)
test

46.5

# Question 5

What is the minimum number of hours a person works per week (hours-per-week feature)?

In [95]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [96]:
min_hr = pd.DataFrame(df[df['hours-per-week']== 1]['salary'].value_counts()) 
min_hr

       salary
<=50K      18
>50K        2

In [97]:
def percentage (data):
    '''
    A function to calculate percentage.

    '''
    col = data.columns
    data['percentage'] = data[col[0]]/data[col[0]].sum() * 100
    return pd.DataFrame(data['percentage'])

In [105]:
test = percentage(min_hr)
result = test.loc['>50K':]
result['percentage'].min()

10.0

# Question 6

What country has the highest percentage of people that earn >50K and what is that percentage?

In [111]:
def create_data(data):
    '''
    A function to create new df's
    '''
    countries = pd.DataFrame(data['native-country'].value_counts()).reset_index().rename({'index':'native-country', 'native-country': 'value'}, axis=1).sort_values('native-country')
    countries_salary = pd.DataFrame(data[['native-country', 'salary']].value_counts()).rename(columns={0:'counts'}).reset_index().sort_values('native-country')
    countries_salary = countries_salary[countries_salary['salary'] == '>50K']

    return countries, countries_salary

In [130]:
test = highest_percentage(df)
test[1].head(3)

  native-country  value salary  counts  percentage
0              ?    583   >50K     146   25.042882
1       Cambodia     19   >50K       7   36.842105
2         Canada    121   >50K      39   32.231405

In [141]:
def highest_percentage(data):
    '''
    This function returns the country
    with the highest_percentage over fifty thousand dollars
    '''
    data_merge = create_data(data)
    new_df = data_merge[0].merge(data_merge[1])
    new_df['percentage'] = new_df['counts'] * 100 / new_df['value']
    highest_score = max(new_df['percentage'])
    return highest_score, new_df

In [131]:
def richest_country(data):
    '''
    This function returns the name of the country 
    with the highest percentage of rich workers
    '''
    result = highest_percentage(data)
    richest_country = ''
    country_list = result[1]['native-country'].unique()
    for country in country_list:
        '''
        I am using itertuples to loop through the rows
        '''
        for row in result[1].itertuples():
            if row[1] == country and row[5] == result[0]:
                richest_country = country
                break
    return richest_country

In [132]:
richest = richest_country(df)
richest

''

# Question 7

Identify the most popular occupation for those who earn >50K in India.

In [163]:
que_7 = df[df['native-country'] == 'India']
que_7 = que_7[que_7['salary'] == '>50K']
que_7 = pd.DataFrame(que_7[['occupation', 'salary']])
que_7 = pd.DataFrame(que_7.value_counts()).rename({0:'counts'}, axis=1).reset_index()
answer = que_7[que_7['counts'] == 25]
answer = answer['occupation'].tolist()
answer[0]

'Prof-specialty'

In [ ]:
que_7 = max(que_7[0])
que_7